.page-div{
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    font-size: 20px;
}
.page-title{
    font-size: 80px;
    color: cornflowerblue;
    font-family: fantasy;
}
.page-text{
    font-size: 30px;
    color: goldenrod;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Btn{
    background-color: green;
    padding: 10px 20px;
    border-radius: 6px;
    color: wheat;
    margin: 10px;
}
.imgHead{
    width: 20rem;
    height: 30rem;
    border-radius: 10px;
}